<!DOCTYPE html>
<html lang="en">

<head>
    {{>HeaderLinks}}
    <title>Not Found</title>
</head>

<body data-bs-theme="dark">
    {{>Navbar}}
    <div class="flex-container">
        <div class="text-center">
            <h1>
                <span class="fade-in" id="digit1">4</span>
                <span class="fade-in" id="digit2">0</span>
                <span class="fade-in" id="digit3">4</span>
            </h1>
            <h3 class="fadeIn">PAGE NOT FOUND</h3>
            <a href="/">Return To Home</a>
        </div>
    </div>
    <style>
        * {
            font-family: Google sans, Arial;
        }

        html,
        body {
            margin: 0;
            padding: 0;
        }

        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .flex-container .text-center {
            text-align: center;
        }

        .flex-container .text-center h1,
        .flex-container .text-center h3 {
            margin: 10px;
            cursor: default;
        }

        .flex-container .text-center h1 .fade-in,
        .flex-container .text-center h3 .fade-in {
            animation: fadeIn 2s ease infinite;
        }

        .flex-container .text-center h1 {
            font-size: 8em;
            transition: font-size 200ms ease-in-out;
            border-bottom: 1px dashed var(--bs-dark-text-emphasis);
        }

        .flex-container .text-center h1 span#digit1 {
            animation-delay: 200ms;
        }

        .flex-container .text-center h1 span#digit2 {
            animation-delay: 300ms;
        }

        .flex-container .text-center h1 span#digit3 {
            animation-delay: 400ms;
        }

        .flex-container .text-center a {
            border: 1px solid var(--bs-dark-text-emphasis);
            background: transparent;
            outline: none;
            padding: 10px 20px;
            font-size: 1.1rem;
            font-weight: bold;
            text-transform: uppercase;
            margin: 20px 0;
            text-decoration: none;
        }

        .flex-container .text-center a:hover {
            background-color: white;
            color: #555;
            cursor: pointer;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
</body>

</html>